.cube_container {
    Margin: auto;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 77px;
    left: 330px;
    perspective: 1000px;
}


/*---------------播放器位置需要调整--------------*/


/*背景画布*/

canvas {
    width: 100%;
    /* height: 100%; */
    min-width: 1000px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    cursor: pointer;
}

#cube figure {
    margin: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    /* border: 1px solid black; */
    opacity: 1.0;
    background-color: #000000;
}


/*----------------每一个小方块--------------*/

.sticker {
    width: 33.3%;
    height: 33.3%;
    background-color: #000000;
    border: 1px solid black;
    float: left;
}

#cube .front {
    transform: rotateY(0deg) translateZ(100px);
    top: 150px;
}

#cube .back {
    transform: rotateX(180deg) translateZ(100px);
    top: 150px;
}

#cube .right {
    transform: rotateY(90deg) translateZ(100px);
    top: 150px;
}

#cube .left {
    transform: rotateY(-90deg) translateZ(100px);
    top: 150px;
}

#cube .top {
    transform: rotateX(90deg) translateZ(100px);
    top: 150px;
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    top: 150px;
}

#cube .flatTop {
    top: -47px;
    left: -100px;
}

#cube .flatLeft {
    top: 150px;
    left: -297px;
}

#cube .flatFront {
    top: 150px;
    left: -100px;
}

#cube .flatRight {
    top: 150px;
    left: 97px;
}

#cube .flatBack {
    top: 150px;
    left: 294px;
}

#cube .flatBottom {
    top: 347px;
    left: -100px;
}

.day {
    display: block;
}

.night {
    display: none;
}

#toThreeDView {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 500px;
    left: 880px;
    border-radius: 15px;
    outline: none;
}

#toFlatView {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 500px;
    left: 1050px;
    outline: none;
    border-radius: 15px;
}

#scramble {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 555px;
    left: 880px;
    border-radius: 15px;
    outline: none;
}

#solve {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 555px;
    left: 995px;
    border-radius: 15px;
    outline: none;
}

#day_btn {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 46px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 445px;
    left: 880px;
    border-radius: 15px;
    outline: none;
}

#night_btn {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 46px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 445px;
    left: 1050px;
    border-radius: 15px;
    outline: none;
}

#aud {
    width: 125px;
    height: 36px;
    position: absolute;
    top: 0px;
    left: 1px;
}


/*--------重置按钮----------*/

#first_btn {
    position: absolute;
    background-color: rgb(100, 100, 299);
    /* border: none; */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 555px;
    left: 1100px;
    border-radius: 15px;
    outline: none;
}


/*---------------重置和前进后退按钮----------*/

.first_state {
    /* */
    position: absolute;
    background-color: rgb(100, 100, 299);
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 626px;
    left: 858px;
    display: none;
}

.prev_state {
    position: absolute;
    background-color: rgb(100, 100, 299);
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 626px;
    left: 957px;
    display: none;
}

.next_state {
    position: absolute;
    background-color: rgb(100, 100, 299);
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 626px;
    left: 1056px;
    display: none;
}

.last_state {
    position: absolute;
    background-color: rgb(100, 100, 299);
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 626px;
    left: 1155px;
    display: none;
}


/* 解法步骤*/

.solution_text {
    display: none;
    position: absolute;
    background-color: rgb(100, 100, 299);
    border: none;
    color: white;
    padding: 10px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 626px;
    left: 30px;
    display: none;
}


/*提示版*/

.solution_text1 {
    position: absolute;
    font-weight: bold;
    width: 350px;
    /* height: 100px; */
    padding: 30px;
    /* border: 1px solid blueviolet; */
    /* border:medium double rgb(250,0,255); */
    left: 855px;
    top: 86px;
    background-color: rgb(100, 100, 299);
    /* fallback for browsers that don't support border images */
    border: 5px solid grey;
    -webkit-border-image: url(../image/1.jpg) 20 / 16px / 0 repeat;
    -o-border-image: url(../image/1.jpg) 20 / 16px / 0 repeat;
    border-image: url(../image/1.jpg) 20 / 16px / 0 repeat;
}

.h1 {
    position: absolute;
    top: 10px;
    left: 200px;
}

.white {
    background: white;
    display: none;
}

.stepDiv {
    Margin: auto;
    left: 0%;
    width: 250px;
    height: 350px;
    position: relative;
    perspective: 1000px;
}

.stepLabel {
    font-size: 22px;
    font-weight: bold;
    color: #444;
}

.littleCube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX(-30deg) rotateY(-30deg);
    /* cursor: pointer; */
}

.littleCube figure {
    margin: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    border: 1px solid black;
    opacity: 1.0;
    background-color: #000000;
}

.littleCube .front {
    transform: rotateY(0deg) translateZ(100px);
    top: 50px;
}

.littleCube .back {
    transform: rotateX(180deg) translateZ(100px);
    top: 50px;
}

.littleCube .right {
    transform: rotateY(90deg) translateZ(100px);
    top: 50px;
}

.littleCube .left {
    transform: rotateY(-90deg) translateZ(100px);
    top: 50px;
}

.littleCube .top {
    transform: rotateX(90deg) translateZ(100px);
    top: 50px;
}

.littleCube .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    top: 50px;
}

.littleCube .stepSticker {
    width: 33.3%;
    height: 33.3%;
    background-color: #000000;
    border: 1px solid black;
    float: left;
}