.cube_container {
    Margin: auto;
    left: 0%;
    width: 200px;
    height: 500px;
    position: relative;
    perspective: 1000px;
}


/*---------------播放器位置需要调整--------------*/

#music {
    background: #aa2020;
    top: 0px;
    left: 0px
}


/*背景画布*/

canvas {
    /*
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

#solution_container {
    /*
    background-color: 000000;
   
    */
}


/*整体白色背景去掉*/

#cube_div {
    /*
    background-color: #FFFFFF;
    */
}


/*按钮背景去掉*/

#button_container {
    /* background-color: #FFFFFF;*/
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    cursor: pointer;
    /*添加的代码*/
}

#cube figure {
    margin: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    border: 1px solid black;
    opacity: 1.0;
    background-color: #000000;
}


/*----------------每一个小方块--------------*/

.sticker {
    width: 33.3%;
    height: 33.3%;
    background-color: #000000;
    border: 2px solid black;
    float: left;
}

#cube .front {
    transform: rotateY(0deg) translateZ(100px);
    top: 150px;
}

#cube .back {
    transform: rotateX(180deg) translateZ(100px);
    top: 150px;
}

#cube .right {
    transform: rotateY(90deg) translateZ(100px);
    top: 150px;
}

#cube .left {
    transform: rotateY(-90deg) translateZ(100px);
    top: 150px;
}

#cube .top {
    transform: rotateX(90deg) translateZ(100px);
    top: 150px;
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    top: 150px;
}


/*--------------------------底部四个按钮  · 改位置-------------------------*/


/*   按钮样式  */

button {
    border: 1px solid #0066cc;
    background-color: #66a6e2;
    color: #e2e2f1;
    padding: 5px 10px;
    cursor: pointer;
}


/*   */

button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    /*  color: #ffffff;  删除背景*/
    padding: 5px 10px;
}


/*-----------------help键------------*/

help {
    top: 20px;
}


/*----------------------- 前进后退键  改位置-----------------------*/

button:disabled,
button[disabled] {
    border: 1px solid #0b0c0c;
    background-color: #172a55;
    color: #19c3e0fa;
}

#cube .flatTop {
    top: -47px;
    left: -100px;
}

#cube .flatLeft {
    top: 150px;
    left: -297px;
}

#cube .flatFront {
    top: 150px;
    left: -100px;
}

#cube .flatRight {
    top: 150px;
    left: 97px;
}

#cube .flatBack {
    top: 150px;
    left: 294px;
}

#cube .flatBottom {
    top: 347px;
    left: -100px;
}